<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
        Assigned to
      </span>
    </h2>
  </div>
  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
    <label class="govuk-label govuk-label--s" for="autocomplete-minLength">Enter case manager name</label>
    <div id="tt-minLength" class="autocomplete-wrapper">
      <select id="caseManagerNameFilter">
        <option value="">Select a case manager</option>
        {% for caseManager in data.caseManagers %}
        <option value="{{ caseManager }}">{{ caseManager }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
