<div id="overview">
<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half govuk-!-padding-left-0">

    <div class="govuk-grid-column-container">
    <h3 class="govuk-heading-m">Lay team 3 overview</h3>

    <div class="data-item-container govuk-grid-column-one-fifth">
      <span class="data-item govuk-heading-xl govuk-!-margin-bottom-0">36</span>
      <span class="data-item govuk-heading-s">Open tasks</span>
    </div>

    <div id="team3-unassigned" class="data-item-container govuk-grid-column-one-fifth">
      <span class="data-item data-item-number govuk-heading-xl govuk-!-margin-bottom-0">null</span>
      <span class="data-item data-item-label govuk-heading-s">Unassigned tasks</span>
    </div>

    <div class="data-item-container govuk-grid-column-one-fifth">
      <span class="data-item govuk-heading-xl govuk-!-margin-bottom-0">4</span>
      <span class="data-item govuk-heading-s">Overdue tasks</span>
    </div>

    <div class="data-item-container govuk-grid-column-one-fifth">
      <span class="data-item govuk-heading-xl govuk-!-margin-bottom-0">5</span>
      <span class="data-item govuk-heading-s">Tasks due today</span>
    </div>

    <div class="data-item-container govuk-grid-column-one-fifth">
      <span class="data-item govuk-heading-xl govuk-!-margin-bottom-0">10</span>
      <span class="data-item govuk-heading-s">Tasks due this week</span>
    </div>

  </div>
</div>

  <div class="govuk-grid-column-one-half govuk-!-padding-right-0">
    <div class="govuk-grid-column-container">
    <h3 class="govuk-heading-m">All teams overview</h3>

    <div class="data-item-container govuk-grid-column-one-fifth">
      <span class="data-item govuk-heading-xl govuk-!-margin-bottom-0">75</span>
      <span class="data-item govuk-heading-s">Open tasks</span>
    </div>

    <div id="all-unassigned" class="data-item-container govuk-grid-column-one-fifth">
      <span class="data-item data-item-number govuk-heading-xl govuk-!-margin-bottom-0">23</span>
      <span class="data-item govuk-heading-s">Unassigned tasks</span>
    </div>

    <div class="data-item-container govuk-grid-column-one-fifth">
      <span class="data-item govuk-heading-xl govuk-!-margin-bottom-0">20</span>
      <span class="data-item govuk-heading-s">Overdue tasks</span>
    </div>

    <div class="data-item-container govuk-grid-column-one-fifth">
      <span class="data-item govuk-heading-xl govuk-!-margin-bottom-0">15</span>
      <span class="data-item govuk-heading-s">Tasks due today</span>
    </div>

    <div class="data-item-container govuk-grid-column-one-fifth">
      <span class="data-item govuk-heading-xl govuk-!-margin-bottom-0">21</span>
      <span class="data-item govuk-heading-s">Tasks due this week</span>
    </div>

  </div>
</div>

</div>
</div>
