<table id="workflow-tasks" class="govuk-table">
  <!--<caption class="govuk-table__caption govuk-!-margin-bottom-5 govuk-!-margin-top-5">All open tasks</caption>-->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-table__select">
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="selectAll" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
              <span class="govuk-visually-hidden">Select</span>
            </label>
          </div>
        </div>

      </th>
      <th scope="col" class="govuk-table__header">Task type</th>
      <th scope="col" class="govuk-table__header">Client</th>
      <th scope="col" class="govuk-table__header">Case owner</th>
      <th scope="col" class="govuk-table__header">Assigned to</th>
      <th scope="col" class="govuk-table__header">Due date</th>
      <th scope="col" class="govuk-table__header">Actions</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <!-- {{ data.tasks | log }} -->

    {% for task in data.tasks %}
      {% include "./table-row.html" %}
    {% endfor %}

  </tbody>
</table>
