version: "3.6"

services:
  workflow:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/sirius/sirius-workflow:latest
    build:
      dockerfile: docker/sirius-workflow/Dockerfile
    ports: [ "8888:8888" ]
    environment:
      PORT: 8888
      SIRIUS_URL: http://json-server:3000
      SIRIUS_PUBLIC_URL: http://localhost:8080
      SHOW_BONDS_WITHOUT_ORDERS: 1
    depends_on:
      - json-server

  json-server:
    build:
      dockerfile: docker/json-server/Dockerfile
    ports:
      - '3000:3000'

  test-runner:
    build:
      dockerfile: docker/test-runner/Dockerfile
    working_dir: /go/src/app
    volumes:
      - ./:/go/src/app

  cypress:
    build:
      dockerfile: docker/cypress/Dockerfile
    command: [ "--headless", "-b", "electron", "--env", "grepUntagged=true" ]
    volumes:
      - ./cypress/screenshots:/root/cypress/screenshots:rw,delegated
      - ./cypress/logs:/root/cypress/logs:rw,delegated
    depends_on:
      - workflow
      - json-server

  go-lint:
    image: golangci/golangci-lint:v2.7.0
    working_dir: /go/src/app
    volumes:
      - ./:/go/src/app
      - ./.cache/golangci-lint/v2.2.1:/root/.cache
    command: golangci-lint run -v --timeout 5m

  gosec:
    image: securego/gosec:latest
    working_dir: /app
    volumes:
      - .:/app
    command: -exclude-dir=.gocache -fmt=sarif -out=/app/test-results/gosec.sarif -stdout -verbose=text /app/...

  trivy:
    image: aquasec/trivy:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./.trivy-cache:/root/.cache
      - ./test-results:/test-results

  yarn:
    image: node:24.1.0-alpine3.20
    working_dir: /home/node/app
    entrypoint: yarn
    volumes:
      - ./:/home/node/app
