{{- /*gotype: github.com/ministryofjustice/opg-sirius-workflow/internal/server.FilterByDeputy*/ -}}
{{ define "deputy-filter-applied" }}

{{ if or (.SelectedDeputies) (.SelectedUnassigned) }}
  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ or .DeputyFilterName "Deputy" }}</h3>
  <ul class="moj-filter-tags">
      {{ if .SelectedUnassigned }}
        <li><a href="{{ .UrlBuilder.GetRemoveFilterUrl "unassigned" .SelectedUnassigned }}" class="moj-filter__tag"><span class="govuk-visually-hidden">Remove this filter</span> Not Assigned</a></li>
      {{ end }}
      {{ range .App.SelectedTeam.Deputies }}
          {{ if .IsSelected $.SelectedDeputies }}
            <li><a href="{{ $.UrlBuilder.GetRemoveFilterUrl "deputy" .Id }}" class="moj-filter__tag"><span class="govuk-visually-hidden">Remove this filter</span> {{ .DisplayName }}</a></li>
          {{ end }}
      {{ end }}
  </ul>
{{ end }}

{{ end }}
