@use "node_modules/@ministryofjustice/frontend/moj/all";
@use "node_modules/govuk-frontend/dist/govuk" as *;

.moj-team-banner {
  padding: govuk-spacing(3) 0;

  &__container {
    display: flex;
    justify-content: space-between;

    .govuk-heading-m {
      color: govuk-functional-colour("text");;
      margin: 0;
      line-height: 1.75;
    }

    .govuk-form-group {
      float: right;
      margin-bottom: 0;

      .govuk-label {
        color: govuk-functional-colour("text");
        font-weight: bold;
        display: inline-block;
        margin-right: govuk-spacing(2);
      }
    }
  }
}
