.sirius-workflow {
  .govuk-main-wrapper {
    padding-top: 0;
  }

  .govuk-width-container,
  .moj-header__container,
  .moj-primary-navigation__container {
    max-width: none;
    padding: 0 govuk-spacing(3);
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
  }

  th.govuk-table__select,
  td.govuk-table__select
  {
      max-width: 15px;
      width: 15px;
  }
}
