$govuk-include-default-font-face: false;
$govuk-moj-table-background-color: #e7f2fb;
$moj-assets-path: "/supervision/workflow/assets/";

@import "node_modules/govuk-frontend/govuk/all";
@import "node_modules/@ministryofjustice/frontend/moj/all";
@import "./scss/app-c-option-select";
@import "./scss/moj-filter";
@import "./scss/moj-manage-tasks";
@import "./scss/moj-pagination";
@import "./scss/moj-sub-navigation";
@import "./scss/moj-team-banner";
@import "./scss/sirius-workflow";
@import "./scss/task-table";

.moj-header__container {
  max-width: 98%;
}

.hide {
  display: none;
}

.data-description {
  font-weight: 400;
}

.current {
  @include govuk-typography-weight-bold;
  outline: 1px solid transparent !important;
  color: #fff !important;
}

.moj-button {
  all: unset;
  color: govuk-colour("blue");
  text-decoration: underline;
}

.moj-header__navigation-link {
  &[aria-current="page"] {
    color: govuk-colour("blue") !important;
    font-weight: bold;
  }
}