$govuk-include-default-font-face: false;
$govuk-moj-table-background-color: #e7f2fb;

@import "node_modules/govuk-frontend/govuk/all";
@import "node_modules/@ministryofjustice/frontend/moj/all";
@import "./scss/app-c-option-select";
@import "./scss/sirius-workflow";
@import "./scss/moj-pagination";
@import "./scss/moj-team-banner";
@import "./scss/moj-manage-tasks";

.moj-header__container {
  max-width: 98%;
}

.hide {
  display: none;
}

.data-description {
  font-weight: 400;
}

#filters-column {
  .govuk-checkboxes__item {
    float: none;
  }

  #accordion-task-type {
    max-height: 200px;
    overflow-y: scroll;
  }
}

